<!DOCTYPE html>
<html>
  <head>
    <title>WonderfulPostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 今回はWebpackerに寄せる -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="container">
      <%= yield %>
    </div>

    <!-- JSもちゃんと読み込む。これがないと本番で差が出る -->
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </body>
</html>

