<!DOCTYPE html>
<html>
  <head>
    <title>WonderfulPostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Sprockets側（app/assets/...） -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <!-- Webpacker側（app/javascript/packs/...） -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </body>
</html>


